.arrow {
    height: 24px; 
    width: 24px; 
    display: block; 
    fill: #A61D55;
}

#block {
    max-width: 376px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    box-shadow: rgba(0,0,0,.2) 0px 1px 10px 0px;
    margin: auto;
} 

.book-button {
    background-color: #A61D55;
    color: white;
    padding: 15px 60px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
    border: none;
}

#booking-container {
    padding: 24px;
}

.button-calendar-arrow {
    background-color: white;
    font-weight: bold;
    border: solid rgb(0,0,0,.1) 2px;
    border-radius: 5px;
    padding: 5px 10px 3px 10px;
}

.button-close {
    background-color: white;
    color: #A61D55;
    border: none;
    font-weight: bold;
}

.button-close:hover {
    text-decoration: underline;
}

.calendar-block {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 328px;
    height: 346px;
    box-shadow: rgba(0,0,0,.2) 0px 1px 10px 0px;
    margin: 12px 0 0 0;
    z-index: 1;
}

.calendar-item {
    height: 100%;
    width: 100%;
    background-color: white;
    border: none;
    font-size: 14px;
}

.center-align {
    text-align: center;
}

.check-in {
    width: 43%;
    height: 26px;
    padding-left: 7px;
}

.circle {
    background-color: white;
    border-radius: 50%;
    border: solid 1px #A61D55;
    width: 21px;
    text-align: center;
    height: 20px;
}

.circle:hover {
    border: solid 2px #A61D55;
}

.exit-button {
    margin-bottom: 20px;
    height: 16px;
    width: 16px;
    display: block;
    background-color: white;
    border: none;
    opacity: .5;
    font-size: 20px;
}

.flexbox {
    display: flex;
}

.bold {
    font-weight: bold;
}

.grey {
    opacity: .3;
    text-decoration: line-through;
}

.grid {
    display: grid;
    text-align: center;
    grid-template: repeat(7, 1fr) / repeat(7, 1fr)
}

.grid-item {
    border: solid rgba(0,0,0,.2)1px;
    height: 33px;
}

.guest-type {
    height: 28px;
}

.guests {
    width: 96%;
    height: 26px;
    padding-left: 9px; 
    margin: 0;
}

.guests-block {
    position: absolute;
    max-width: 376px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 200px;
    box-shadow: rgba(0,0,0,.2) 0px 1px 10px 0px;
    margin: auto;
}

.guests-block-info {
    padding: 0;
}

.label {
    font-weight: bold;
    text-align: left;
    width: 124px;
    padding-top: 5px;
}

.margin-top {
    margin-top: 22px;
}

.night {
    font-weight: lighter;
    font-size: 14px;
}

.popup-book-button {
    margin-top: 20px;
}

.price {
    font-size: 24px;
    font-weight: bold;
}

.review-count {
    font-size: 13px;
    padding-left: 4px;
    font-weight: bold;
}

.right-align {
    text-align: right;
}

.space-around {
    justify-content: space-around;
}

.spacer {
    margin-top: 20px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.stars {
    height: 1em;
    width: 1em;
    display: block;
    fill: #A61D55;
    font-size: 10px;
}