#block {
    max-width: 376px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    box-shadow: rgba(0,0,0,.2) 0px 1px 10px 0px;
    margin: auto;
} 

#exit-button {
    margin-bottom: 20px;
    padding: 18px;
    height: 16px;
    width: 16px;
    display: block;
    background-color: white;
    border: none;
    opacity: .5;
    font-size: 20px;
}

#book-button {
    background-color: #A61D55;
    color: white;
    padding: 15px 60px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 12px;
    border: none;
}